@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

.relative {
  position: relative !important;
}

.main-video {
  max-width: 640px;
}

.line-0 {
  position: absolute;
  right: -700px;
  bottom: 30%;
  width: 700px;
  z-index: 2;
}

.line-0::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-1-t {
  position: absolute;
  top: 0;
  left: 5%;
  width: 70%;
  height: 140px;
}

.line-1-t::before {
  content: "";
  position: absolute;
  top: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-1-b {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 165px;
  height: 481px;
}

.line-1-b::before {
  content: "";
  position: absolute;
  bottom: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-2-t {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 120px;
  z-index: 2;
}

.line-2-t::before {
  content: "";
  position: absolute;
  top: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-2-b {
  position: absolute;
  bottom: 0;
  left: -360px;
  width: 400px;
  height: 151px;
  z-index: 2;
}

.line-2-b::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-3::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-4 {
  width: calc((100% - 32px) / 3 + 318px);
  height: 120px;
}

.line-7 {
  height: calc(100% + 537px);
  width: 65px;
}

.line-5 {
  left: 50%;
  bottom: 88px;
  height: calc(100% - 176px);
  width: 320px;
  z-index: 2;
}

.line-6 {
  right: 50%;
  top: 88px;
  height: calc(100% - 176px);
  width: 320px;
}

.line-8 {
  top: calc(50% - 600px);
  height: 600px;
  right: 0;
  width: 64px;
}

@media (min-width: 1400px){
  .main-video {
    margin-top: 0px;
  } 
}

@media (min-width: 1650px){
  .main-video {
    margin-top: -60px;
  } 
}
