@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

.relative {
  position: relative !important;
}

.main-video {
  max-width: 640px;
}

.line-0 {
  position: absolute;
  right: -700px;
  bottom: 30%;
  width: 700px;
  z-index: 2;
}

.line-0::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-1-t {
  position: absolute;
  top: 0;
  left: 5%;
  width: 70%;
  height: 140px;
}

.line-1-t::before {
  content: "";
  position: absolute;
  top: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-1-b {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 165px;
  height: 481px;
}

.line-1-b::before {
  content: "";
  position: absolute;
  bottom: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-2-t {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 120px;
  z-index: 2;
}

.line-2-t::before {
  content: "";
  position: absolute;
  top: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-2-b {
  position: absolute;
  bottom: 0;
  left: -360px;
  width: 400px;
  height: 151px;
  z-index: 2;
}

.line-2-b::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-3::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-4 {
  width: calc((100% - 32px) / 3 + 318px);
  height: 120px;
}

.line-7 {
  height: calc(100% + 537px);
  width: 65px;
}

.line-5 {
  left: 50%;
  bottom: 88px;
  height: calc(100% - 176px);
  width: 320px;
  z-index: 2;
}

.line-6 {
  right: 50%;
  top: 88px;
  height: calc(100% - 176px);
  width: 320px;
}

.line-8 {
  top: calc(50% - 600px);
  height: 600px;
  right: 0;
  width: 64px;
}

.line-9 {
  height: 132px;
  width: 400px;
  top: calc(50% + 180px);
  z-index: 100;
}

.line-10 {
  top: calc(50% - 180px);
}

.line-11 {
  top: calc(50% - 300px);
  width: 400px;
  margin-left: -399px;
  height: 200px;
}

.line-12 {
  width: 1600px;
  height: 160px;
  top: -160px;
  left: calc(50% - 1600px);
}

.line-12::before {
  content: "";
  position: absolute;
  bottom: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-13 {
  width: 1000px;
  height: 100px;
  top: 0px;
  left: 75%;
  z-index: 10;
}

.line-13::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-14 {
  width: 80px;
  height: 315px;
  top: calc(50% - 315px);
  left: 0;
  z-index: 10;
}

.line-14::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-15 {
  width: 600px;
  height: 100px;
  top: 0;
  left: calc(50% - 600px);
  z-index: 10;
}

.line-15::before {
  content: "";
  position: absolute;
  top: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-16 {
  top: -101px;
  left: 25%;
  width: 600px;
  height: 101px;
  z-index: 10;
}

.line-16::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-17 {
  width: 1150px;
  height: 100px;
  top: 0px;
  left: 50%;
  z-index: 10;
}

.line-17::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-18 {
  width: 80px;
  height: 319px;
  top: calc(50% - 319px);
  left: 0;
  z-index: 10;
}

.line-18::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-19 {
  width: 80px;
  height: 205px;
  top: -125px;
  left: -80px;
  z-index: 10;
}

.line-19::before {
  content: "";
  position: absolute;
  bottom: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-20 {
  width: 1180px;
  height: 100px;
  top: 0;
  left: calc(50% - 1180px);
  z-index: 10;
}

.line-20::before {
  content: "";
  position: absolute;
  top: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-21 {
  width: 600px;
  height: 100px;
  top: 0px;
  left: 75%;
  z-index: 10;
}

.line-21::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-22 {
  width: 400px;
  height: 126px;
  top: -126px;
  left: calc(100% - 520px);
  z-index: 10;
}

.line-22::before {
  content: "";
  position: absolute;
  bottom: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-23 {
  width: 80px;
  height: 700px;
  top: 120px;
  left: 0;
  z-index: 10;
}

.line-23::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-24 {
  width: 245px;
  height: 200px;
  top: -80px;
  left: 0;
  z-index: 10;
}

.line-24::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

.line-25 {
  width: 1600px;
  height: 0;
  top: 380px;
  left: -1600px;
  z-index: 10;
}

.line-25::before {
  content: "";
  position: absolute;
  bottom: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #2F80ED;
  border-radius: 50%;
}

@media (min-width: 1400px){
  .main-video {
    margin-top: 0px;
  } 
}

@media (min-width: 1650px){
  .main-video {
    margin-top: -60px;
  } 
}
